<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="include::head"></head>
<link rel="stylesheet" th:href="@{/business/mfrsplctemplate/css/style.css}">
<body>
<div th:include="include::header"></div>

<div class="bg-center">
    <div class="bg-center-body">
        <!--第一行-->
        <div id="row_1" class="layui-row layui-col-space15">
            <div class="layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-header">模板统计</div>
                    <div class="layui-card-body">
                        <div>
                            信号类型绑定数
                            <div class="layui-progress layui-progress-big" lay-filter="bindTypeCount"
                                 lay-showpercent="true">
                                <div id="bindTypeCount" class="layui-progress-bar" lay-percent="0/0"></div>
                            </div>
                        </div>
                        <div>
                            设备绑定数
                            <div class="layui-progress layui-progress-big" lay-filter="bindDeviceCount"
                                 lay-showpercent="true">
                                <div id="bindDeviceCount" class="layui-progress-bar" lay-percent="0/0"></div>
                            </div>
                        </div>
                        <div>
                            随机范围填写数
                            <div class="layui-progress layui-progress-big" lay-filter="regexCount"
                                 lay-showpercent="true">
                                <div id="regexCount" class="layui-progress-bar" lay-percent="0/0"></div>
                            </div>
                        </div>
                        <div>
                            信号总数
                            <div class="layui-progress layui-progress-big" lay-filter="plcCount" lay-showpercent="true">
                                <div id="plcCount" class="layui-progress-bar" lay-percent="0/0"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-header">卡片面板</div>
                    <div class="layui-card-body">
<!--                        卡片式面板面板通常用于非白色背景色的主体内<br>-->
<!--                        从而映衬出边框投影-->
                        <div id="main_1"></div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-header">卡片面板</div>
                    <div class="layui-card-body">
                        结合 layui 的栅格系统<br>
                        轻松实现响应式布局
                    </div>
                </div>
            </div>
        </div>
        <!--第二行-->
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">模板信息</div>
                    <div class="layui-card-body">
                        <div id="plctemplateTable"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container"></div>
<div th:include="include::footer"></div>
<script type="text/javascript" th:src="@{/business/mfrsplctemplate/js/TweenMax.min.js}"></script>
<script type="text/javascript" th:src="@{/business/mfrsplctemplate/js/index.js}"></script>
<script>
    $(function () {
        //加载模板
        $("#plctemplateTable").load('/business/mfrsplctemplate/loadPlcTemplateTable');

        chartLineMap('main_1',600,200,{
            tooltip: {
                trigger: 'item'
            },
            legend: {
                top: '5%',
                left: 'center'
            },
            series: [
                {
                    name: '访问来源',
                    type: 'pie',
                    radius: ['30%', '40%'],
                    avoidLabelOverlap: false,
                    label: {
                        show: false,
                        position: 'center'
                    },
                    emphasis: {
                        label: {
                            show: true,
                            fontSize: '40',
                            fontWeight: 'bold'
                        }
                    },
                    labelLine: {
                        show: false
                    },
                    data: [
                        {value: 1048, name: '搜索引擎'},
                        {value: 735, name: '直接访问'},
                        {value: 580, name: '邮件营销'},
                        {value: 484, name: '联盟广告'},
                        {value: 300, name: '视频广告'}
                    ]
                }
            ]
        })
    })
</script>
</body>
</html>
