body {
	margin:0;
	padding:0;
}

.particle_star {
  width:4px;
  height:4px;
  position:absolute;
  background-color: #ffffff;
  box-shadow:0px 0px 17px 4px wheat;
  border-radius: 50%;
}

.container {
	margin: 0 auto;
	height: 100vh;
	position: relative;
	overflow: hidden;
	background:url(../img/bg.jpg) no-repeat  0 100%;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;

}

/**控制背景*/
.bg-center {
	position: absolute;
	z-index: 10000;
	width: 100%;
	height: 100%;
}
/*控制透明度*/
.bg-center-body {
	padding: 20px;
	background-color: #F2F2F2;
	opacity: 0.8;
	height: inherit;
}
/*第一行面板高度*/
#row_1 > .layui-col-md4 > .layui-card{
	height: 235px;
}